<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
  <div class="col-sm-6 col-xs-8">
    <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li class="active"><%= t('menu.tp') %></li>
    </ol>
  </div>
  <div class="col-sm-6 col-xs-4">
    <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 cover" >
    <%= image_tag 'tips_banner.png' %>
  </div>
</div>
<div class="row row-content">
  <div class="col-xs-12">
    <p><%= t('tips.title') %></p>
  </div>
</div>
<% @tips.each_with_index do |i| %>
<div class="col-xs-4 tip-thumb">
  <!-- <div class="col-xs-12 "> -->
  <figure class="label float inside bottom fill" data-label="<%= i.title %>" >
    <%= link_to image_tag(i.cover.tip_thumb.url),"",:data => {:toggle => "modal", :target => "##{i.id}"}, :id => "t#{i.id}", :lid => "t#{i.id}" %>
  </figure>
  <!-- </div>        -->
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-xs" id="<%=i.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove-sign"></span> </button><br>
        <%= image_tag(i.cover.tip_thumb.url) %>
        <div class="col-sm-2 col-xs-12" style="margin-top: -25px;text-align: right;float: right;">
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-sm-2 col-xs-12" style="margin-top: -25px;text-align: right;float: right;">
          <div class="fb-share-button" data-href=<%= request.url %> data-type="button_count"></div>
        </div>
        <div class="modal-tip">
          <h4><%= i.title %></h4>
          <p><%= i.content.html_safe %></p>
        </div>
      </div>
      <div class="modal-footer">
         <% if i.tags.count != 0 %>
          <p>
            <span class="glyphicon glyphicon-tags"></span> &nbsp; <%= raw i.tags.map(&:name).map { |t| link_to t, tagged_path(:tag => t) }.join(' , ') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row" id="page">
  <%= paginate @tips %>
</div>

