<div class="row">
    <div class="col-sm-4">
		<h1 id="show-head-box">Our Tip</h1>
	</div>	
	<div class="col-sm-12 content" >
		<%=  image_tag(@tip.cover.url) %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 content" >
		<h2><%= @tip.title %></h2>
		<p>
			<%= @tip.content.html_safe %>
		</p>
		<p>
			<%= @tip.created_at %>		
		</p>
	</div>

	<div class="col-sm-12 back" >
		<%= link_to " <<< Back ", planet_index_path %>
	</div>
</div>




