
<div class="row" style="margin-bottom: 10px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
           <li><%= link_to t('menu.hm'), root_path %></li>
  			<!-- <li><a href="#">Library</a></li> -->
           	<li class="active"><%= t('menu.pn') %></li>
        </ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>

<%= render 'layouts/index_content' %>