<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><%= link_to t('menu.hm'), root_path %></li>
            <li class="active"><%= t('menu.pr') %></li>
        </ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>

<div class="row row-content">
	<div class="col-sm-12 cover">
		<%= image_tag('award.png') %>
	</div>
</div>

<div class="row row-content">
	<div class="col-sm-12">
		<p><%= t('pride.title') %></p>
	</div>
</div>

<div class="col-sm-12 hidden-xs p-menu" id="story-menu">
	<ul>
		<li class="active"><a href="#p1" data-toggle="tab"><%= t('pride.awd') %></a></li>
		<li><a data-toggle="tab" href="#p2"><%= t('pride.cer') %></a></li>
		<li><a data-toggle="tab" href="#p3"><%= t('pride.trp') %></a></li>
	</ul>
</div>

<div class="col-sm-12 visible-xs tab-s">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#p1" data-toggle="tab"><%= t('pride.awd') %></a></li>
		<li><a data-toggle="tab" href="#p2"><%= t('pride.cer') %></a></li>
		<li><a data-toggle="tab" href="#p3"><%= t('pride.trp') %></a></li>
	</ul>
</div>




<div class="tab-content">
	<div class="tab-pane active" id="p1">
		<div class="row row-content">
			<% @awd.each_with_index do |i| %>

				<% if i.image.url == nil %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 content" style="text-align: left;">
							<p style="margin-top: 14%;"><%= i.description %></p>
						</div>
					</div>
				<% else %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 image">
							<%= image_tag(i.image.pride_thumb.url) %>
						</div>

						<div class="col-xs-12 content" style="text-align: left;">
							<%= i.description %> 
						</div>
					</div>
				<% end %>
				
			<% end %>
		</div>
	</div>

	<div class="tab-pane" id="p2">
		<div class="row row-content">
			<% @cer.each_with_index do |i| %>
				<% if i.image.url == nil %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 content" style="text-align: left;">
							<p style="margin-top: 14%;"><%= i.description %></p>
						</div>
					</div>
				<% else %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 image">
							<%= image_tag(i.image.pride_thumb.url) %>
						</div>

						<div class="col-xs-12 content" style="text-align: left;">
							<%= i.description %> 
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="tab-pane" id="p3">
		<div class="row row-content">
			<% @trp.each_with_index do |i| %>
				<% if i.image.url == nil %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 content" style="text-align: left;">
							<p style="margin-top: 14%;"><%= i.description %></p>
						</div>
					</div>
				<% else %>
					<div class="col-sm-4 col-xs-6 pride">
						<div class="col-xs-12 image">
							<%= image_tag(i.image.pride_thumb.url) %>
						</div>

						<div class="col-xs-12 content" style="text-align: left; text-align: left;">
							<%= i.description %> 
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>




<script type="text/javascript">
// insert slider
$('#story-menu ul').append('<div id="slider"></div>');
// initially reset
var left = $('#story-menu ul li.active a').parent().position().left;
var width = $('#story-menu ul li a').parent().width()-5;
	var	height = 30;
var top = 28;
$('#slider').css({'width' : width, 'left' : left, 'height' : height, 'top' : 28});
// sliding
$('#story-menu ul li a').each(function(){
	$(this).hover(function(){
	var left = $(this).parent().position().left;
	var width = $('#story-menu ul li a').parent().width()-5;
	var height = 30;
	$('#slider').stop().animate({
	'left' : left,
	'width' : width,
	'height' : height,
	'top' : 28
	});
	});
});
// set active
$('.tab-pane').each(function(){
	$(this).hover(function(){
		$('#slider').stop().animate({
		'left' : $('#story-menu ul li.active a').parent().position().left,
		'width' : $('#story-menu ul li a').parent().width()-5,
		'height' : 30,
		'top' : 28
		});
	});
});
</script>





