<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
  <div class="col-sm-6 col-xs-8">
    <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li class="active"><%= t('menu.ct') %></li>
    </ol>
  </div>
  <div class="col-sm-6 col-xs-4">
    <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 cover">
    <div id="map" style='height: 380px;'></div>
  </div>
</div>
<div class="row row-content ">
  <div class="col-sm-6 content map">
    <div class="col-sm-12">
      <h3 class="content-title"><%= t('contact.head1.name') %></h3>
      <p><%= t('contact.head1.sub') %><br>
      <%= t('contact.head1.add') %><br>
      <%= t('tel') %> : <%= t('contact.head1.tel1') %> <br><%= t('fax') %> : <%= t('contact.head1.fax') %></p>
    </div>
    <div class="col-sm-12">
      <%= link_to image_tag('thum_contact1.jpg'), "/assets/map01.jpg", :target => "_blank" %>
    </div>
  </div>
  <div class="col-sm-6 content map">
    <div class="col-sm-12">
      <h3 class="content-title"><%= t('contact.head2.name') %></h3>
      <p><%= t('contact.head2.sub') %><br>
      <%= t('contact.head2.add') %><br>
      <%= t('tel') %> : <%= t('contact.head2.tel1') %>, <%= t('contact.head2.tel2') %><br> <%= t('fax') %> : <%= t('contact.head2.fax') %></p>
    </div>
    <div class="col-sm-12">
      <%= link_to image_tag('thum_contact2.jpg'), "/assets/map02.jpg", :target => "_blank" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
      scrollwheel: false
    }, 
    internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 13.8348551,
          "lng": 100.6371631,
          "picture": {
          "url": "http://s29.postimg.org/ra6no13hf/pin_green_solid_15.png",
          "width":  34,
          "height": 49,
          "language": "th-en"
        },
        "infowindow": "We Are Here !"
      }
    ]);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);
  });
</script>






