<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
  <div class="col-sm-6 col-xs-8">
    <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li class="active"><%= t('foot.col3.head') %></li>
    </ol>
  </div>
  <div class="col-sm-6 col-xs-4">
    <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
</div>

  
<div class="row">
    <div class="col-sm-12">
      <h2 class="faq-head-title" id="faq-top"><%= t('foot.col3.head') %></h2>
    </div>

    <div class="col-sm-12" data-spy="scroll" data-target=".nav-faq">
      <div class="nav-faq">
        <ul>
          <li><%= link_to( t('faqs.Q1'), "#faq1") %></li>
          <li><%= link_to( t('faqs.Q2'), "#faq2") %></li>
          <li><%= link_to( t('faqs.Q3'), "#faq3") %></li>
          <li><%= link_to( t('faqs.Q4'), "#faq4") %></li>
          <li><%= link_to( t('faqs.Q5'), "#faq5") %></li>
          <li><%= link_to( t('faqs.Q6'), "#faq6") %></li>
          <li><%= link_to( t('faqs.Q7'), "#faq7") %></li>
          <li><%= link_to( t('faqs.Q8'), "#faq8") %></li>
          <li><%= link_to( t('faqs.Q9'), "#faq9") %></li>
          <li><%= link_to( t('faqs.Q10'), "#faq10") %></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 content-faq">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq1"><%= t('faqs.Q1') %></h3>
        </div>
        <div class="panel-body">
          <p>
           <%= t('faqs.A1') %>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq2"><%= t('faqs.Q2') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <ol>
              <li><%= t('faqs.A2.s1') %></li>
              <li><%= t('faqs.A2.s2') %></li>
              <li><%= t('faqs.A2.s3') %></li>
              <li><%= t('faqs.A2.s4') %></li>
              <li><%= t('faqs.A2.s5') %></li>
            </ol>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq3"><%= t('faqs.Q3') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= t('faqs.A3.title') %>
            <ol> 
              <li><%= t('faqs.A3.s1') %></li>
              <li><%= t('faqs.A3.s2') %></li>
              <li><%= t('faqs.A3.s3') %></li>
            </ol>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq4"><%= t('faqs.Q4') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= t('faqs.A4') %>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq5"><%= t('faqs.Q5') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= t('faqs.A5') %>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq6"><%= t('faqs.Q6') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= t('faqs.A6') %>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq7"><%= t('faqs.Q7') %></h3>
        </div>
        <div class="panel-body">
          <p><%= t('faqs.A7.title') %>
            <ul>
              <li><%= t('faqs.A7.s1') %></li>
              <li><%= t('faqs.A7.s2') %></li>
              <li><%= t('faqs.A7.s3') %></li>
              <li><%= t('faqs.A7.s4') %></li>
              <li><%= t('faqs.A7.s5') %></li>
              <li><%= t('faqs.A7.s6') %></li>
            </ul>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq8"><%= t('faqs.Q8') %></h3>
        </div>
        <div class="panel-body">
          <p><%= t('faqs.A8.title') %>
            <ul>
              <li><%= t('faqs.A8.s1') %></li>
              <li><%= t('faqs.A8.s2') %></li>
              <li><%= t('faqs.A8.s3') %></li>
            </ul>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq9"><%= t('faqs.Q9') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= t('faqs.A9') %>
          </p>
        </div>
        <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="faq10"><%= t('faqs.Q10') %></h3>
        </div>
        <div class="panel-body">
          <p><%= t('faqs.A10.title') %></p>
          <p><%= t('faqs.A10.s1') %></p>
          <p><%= t('faqs.A10.s2') %></p>
        </div>
         <div class="panel-footer"> <a href="#faq-top"><%= t('top') %> <span class="glyphicon glyphicon-arrow-up"></span></a> </div>
      </div>
    </div>
</div>

<script type="text/javascript">

  $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 25
        }, 1000);
        return false;
      }
    }
  });
});

</script>












