<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
	<div class="col-sm-6 col-xs-8">
		<ol class="breadcrumb">
			<li><%= link_to t('menu.hm'), root_path %></li>
			<li class="active"><%= t('foot.col4.head') %></li>
		</ol>
	</div>
	<div class="col-sm-6 col-xs-4">
		<div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 cover"  style="border: solid 1px gray;">
		<%= image_tag('whereToFind.png') %>
	</div>
</div>
<div class="row row-content">
	<!-- <div class="col-xs-12">
		<h1>Where to find</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div> -->
</div>
<div class="row" id="where">
	<div class="col-xs-12 box">
		<div class="panel-group" id="accordion">
			<div class="panel panel-gracz" >
				<% @category.each_with_index do |i, index| %>
				<div class="panel-heading">
					<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" <%= "href=" "##{i.name}"%> >
					<%= i.name %>
					</a></h4>
				</div>
				<div <%= "id=" "#{i.name}"%> class="panel-collapse collapse">
					<div class="panel-body-w">
						<div class="row row-content">
							<% WherePlace.find_all_by_where_category_id(i.id).each do |a| %>
							<div class="col-xs-3">
								<div class="col-xs-12">
									<% if a.logo.url != nil %>
									<%= link_to "#{image_tag(a.logo.logo.url)}".html_safe, "#{a.link}", :class => "tip-thumb", :target => "_blank" %>
									<% else %>
									<%= image_tag('rails.png') %>
									<% end %>
								</div>
								<!-- <div class="col-xs-12">
									<center><%= a.name %></center>
								</div> -->
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>