
<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
			<li class="active"><%= t 'menu.hm' %></li>
		</ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>


<div class="row row-content">
	<div class="col-xs-12 visible-xs cover">
		<%= image_tag "philosophy.jpg" %>
	</div>
	<div class="col-sm-8 cover1 c1 hidden-xs" style="padding-left: 0px;">
		<div class="border-wrapper" id="slider-image-wrapper">
			<div class="jcarousel">
			    <ul>
			        <li><%= image_tag "inspiration.jpg" %></li>
			        <li><%= image_tag "philosophy.jpg" %></li>
			        <li><%= image_tag "biodegradable.jpg" %></li>
			        <li><%= image_tag "sustainability.jpg" %></li>        
			    </ul>
			</div>				
		</div>
	</div>

	<div class="col-sm-4 box hidden-xs" style="padding-right: 0px;">

		 <div class="panel-group" id="accordion">
			<div class="panel panel-gracz" >
				<div class="panel-heading">

					<h4 class="panel-title">
					<a class="actives" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						<%= t 'home.inspiration' %>
					</a>
					</h4>
				</div>

				<div id="collapse1" class="panel-collapse collapse in" slide="1" >
					<div class="panel-body">
						<p>&nbsp;&nbsp;&nbsp;<%= t 'home.sub1' %>
						</br> 
						&nbsp;&nbsp;&nbsp;<%= t 'home.sub2' %>
						</br>
						&nbsp;&nbsp;&nbsp;<%= t 'home.sub3' %>
						</p>
					</div>
				</div>

				<div class="panel-heading">

					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						<%= t 'home.philosophy' %>
					</a></h4>
				</div>

				<div id="collapse2" class="panel-collapse collapse" slide="2">
					<div class="panel-body">
						<p>&nbsp;&nbsp;&nbsp;<%= t 'home.sub4' %>
						</p>
					</div>
				</div>

				<div class="panel-heading">

					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						<%= t 'home.biodegradable' %>
					</a></h4>
				</div>
				
				<div id="collapse3" class="panel-collapse collapse" slide="3">
					<div class="panel-body">
						<p>&nbsp;&nbsp;&nbsp;<%= t 'home.sub5' %><br>
						&nbsp;&nbsp;&nbsp;<%= t 'home.sub6' %>
						</p>
					</div>
				</div>

				<div class="panel-heading non">

					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						<%= t 'home.sustainable' %>
					</a></h4>
				</div>
				
				<div id="collapse4" class="panel-collapse collapse" slide="4">
					<div class="panel-body">
						<p>&nbsp;&nbsp;&nbsp;<%= t 'home.sub7' %></p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- Blog 2 -->
<div class="row row-content">	
	<div class="border-wrapper">
		<div class="col-sm-4 no-pad" >			
			<div class="col-sm-12 no-pad">
				<h3 class="title-box"><center><%= t('home.intro') %></center></h3>
			</div>

			<div class="col-sm-12">
				<div style="margin-left: -14px;">
				<%= image_tag('Gracz_Logo_02.png') %>
				</div>
				<p>&nbsp;&nbsp;&nbsp;<%= t('home.sub8.con') %>
					<ul class="intro" style="text-align: left;" >
 						<li> <%= t('home.sub8.l1') %></li>
						<li> <%= t('home.sub8.l2') %></li>
						<li> <%= t('home.sub8.l3') %></li>
						<li> <%= t('home.sub8.l4') %></li>
					</ul>
				</p>
			</div>			
		</div>
		<div class="col-sm-8 col-xs-12 cover" style="padding-right: 0px;">
			<%= image_tag("introducing_gracz_image_560x307.jpg") %>
		</div>
	</div>
</div>
<!-- Blog 3 -->


<script type="text/javascript" >

$(document).ready(function(){

  	$('#carousel').flexslider({
      animation: "slide",
      controlNav: true,
      animationLoop: true,
      slideshow: true,
      itemWidth: 200,      
      minItems: 3,
      maxItems: 3,
      directionNav: true
    });

    $('.jcarousel').jcarousel();

	$('#accordion').on('shown.bs.collapse', function () {		

		var slideNum = $(".in").attr("slide");
		slideNum -= 1;
		$('.jcarousel').jcarousel('scroll', slideNum);

	});
});

jQuery('#accordion .panel-heading a[data-toggle="collapse"]').on('click', function () {   
    jQuery('#accordion .panel-heading a[data-toggle="collapse"]').removeClass('actives');
    	$( "div" ).remove( "#slider-main" );
    	$(this).addClass('actives');
    	$(this).append('<div id="slider-main"></div>');
 });


$('#accordion .panel-heading a[class="actives"]').append('<div id="slider-main"></div>');


</script>








