<!DOCTYPE html>
<html>
<head>
	<title>Gracz</title>
	<meta property="og:url" content="http://107.170.202.81:9292/">
  <meta property="og:site_name" content="Gracz">
  <meta property="og:title" content="Gracz">
  <meta property="og:description" content="ภาชนะเกรซ คือ ภาชนะ เพื่อชีวิตที่ยืนยาว ผลิตจากเยื้อพันธุ์พืชบริสุทธิ์ ผ่านกระบวนการที่ทันสมัย ผ่านการรับรองมาตราฐานระดับนานาชาติ เพื่อให้ผลิตภัณฑ์ที่ดีที่สุดสําหรับตัวคุณ เพราะเราเชื่อว่ามนุษย์มีเพียงชีวิตเดียว และอยู่บนโลกใบเดียว เราจึงตั้งมั่นที่จะทําทุกอย่าง เพื่อดูแลทุกคนบนโลก ใบนี้ ให้มีชีวิตที่ยืนยาวและมั่นคงตลอดไป">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image" content="http://107.170.202.81:9292/assets/Gracz_Logo_02-0eb55ef7043a917cf6b745d85097c94e.png">

  <meta name="description" content="ภาชนะเกรซ คือ ภาชนะ เพื่อชีวิตที่ยืนยาว ผลิตจากเยื้อพันธุ์พืชบริสุทธิ์ ผ่านกระบวนการที่ทันสมัย ผ่านการรับรองมาตราฐานระดับนานาชาติ เพื่อให้ผลิตภัณฑ์ที่ดีที่สุดสําหรับตัวคุณ เพราะเราเชื่อว่ามนุษย์มีเพียงชีวิตเดียว และอยู่บนโลกใบเดียว เราจึงตั้งมั่นที่จะทําทุกอย่าง เพื่อดูแลทุกคนบนโลก ใบนี้ ให้มีชีวิตที่ยืนยาวและมั่นคงตลอดไป">
  <meta name="keywords" content="บรรจุพันธ์">
  <meta name="author" content="Gracz">
  <meta charset="UTF-8">

	<style type="text/css">
		div#warp{
			width: 100%;
			padding-top: 30px;
		}

		div#not-page{
			max-width: 990px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		body{ text-align: center; }

		img.warn{width: 25%;}

		div#browser{margin-top: 40px; margin-bottom: 40px;}

		img.brow{ max-width: 65px; margin: 10px 10px; }

	</style>

</head>
<body>
	<div id="warp">
		<div id="not-page">
			<%= image_tag("warning.jpg", :class => "warn") %>
			<h2><u>Your browser is not supported!</u></h2>
			<h4>Your Browser Is Too Old. Please update your browser</h4>
		</div>

		<div id="browser">
			<h3>Please check latest version of browser</h3>

			<%= link_to(image_tag("chrome.png" ,:class => "brow"), "http://www.google.co.th/intl/th/chrome/browser/",:target => '_blank') %>
			<%= link_to(image_tag("firefox.png" ,:class => "brow"), "https://www.mozilla.org/th/firefox/new/",:target => '_blank') %>
			<%= link_to(image_tag("ie.png" ,:class => "brow"), "http://windows.microsoft.com/th-th/internet-explorer/download-ie",:target => '_blank') %>
			<%= link_to(image_tag("safari.png" ,:class => "brow"), "http://support.apple.com/downloads/#safari",:target => '_blank') %>
			<%= link_to(image_tag("opera.png" ,:class => "brow"), "http://www.opera.com/",:target => '_blank') %>


		</div>
	</div>
</body>
</html>

