<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
	<div class="col-sm-6 col-xs-8">
		<ol class="breadcrumb">
			<li><%= link_to t('menu.hm'), root_path %></li>
			<li class="active"><%= t('menu.st') %></li>
		</ol>
	</div>
	<div class="col-sm-6 col-xs-4">
		<div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
</div>
<div class="row ">
	<div class="col-xs-12 cover">
		<%= image_tag('Our_Story_03.jpg') %>
	</div>
</div>
<div class="col-sm-12 hidden-xs" id="story-menu">
	<ul>
		<li class="active"><a href="#st1" data-toggle="tab"><%= t('story.tab1.name') %></a></li>
		<li><a data-toggle="tab" href="#st2"><%= t('story.tab2.name') %></a></li>
		<li><a data-toggle="tab" href="#st3"><%= t('story.tab3.name') %></a></li>
		<li><a data-toggle="tab" href="#st4"><%= t('story.tab4.name') %></a></li>
	</ul>
</div>

<div class="col-sm-12 visible-xs tab-s">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#st1" data-toggle="tab"><%= t('story.tab1.name') %></a></li>
		<li><a data-toggle="tab" href="#st2"><%= t('story.tab2.name') %></a></li>
		<li><a data-toggle="tab" href="#st3"><%= t('story.tab3.name') %></a></li>
		<li><a data-toggle="tab" href="#st4"><%= t('story.tab4.name') %></a></li>
	</ul>
</div>

<div class="tab-content">
	<div class="tab-pane active" id="st1"><div class="row s-content">
		<div class="col-xs-12 col-sm-12">
			<div class="row ">
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 s-head-l">
							<h3><%= t('story.tab1.head1') %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 ">
							<p><%= t('story.tab1.con1') %></p>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6  cover">
					<%= image_tag('his_1.jpg') %>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6  cover">
					<%= image_tag('his_2.jpg') %>
				</div>
				
				<div class="col-xs-12 col-sm-6 ">
				<p><%= t('story.tab1.con2') %></p>
				</div>
			</div>
		</div>
	</div>
	<!-- Content 3 Green -->
	<div class="row  s-content-green">
		<div class="col-xs-12 col-sm-6 cover ">
			<%= image_tag('Our_Story_12.jpg') %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row ">
				<div class="col-sm-12 s-head-r">
					<h3><%= t('story.tab1.head2') %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- <h4>วิสัยทัศน์</h4> -->
					<p><%= t('story.tab1.con3.l1') %></p>
					<p><%= t('story.tab1.con3.l2') %></p>
					<p><%= t('story.tab1.con3.l3') %></p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 s-head-l" style="margin-top: -20px;">
			<h3><%= t('story.tab1.head3') %></h3>
		</div>
		<div class="col-xs-12 ">
		
			<p><%= t('story.tab1.con4') %></p>
		</div>
	</div>
	<!-- Content 4 -->
	<div class="row  s-content">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 s-head-l">
							<h3><%= t('story.tab1.head4') %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 ">
							<!-- <h4>Lorem ipsum</h4> -->
							<p><%= t('story.tab1.con5') %></p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 cover ">
					<%= image_tag('value_1.jpg') %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 cover ">
					<%= image_tag('value_2.jpg') %>
				</div>
				
				<div class="col-xs-12 col-sm-6 ">
					<p><%= t('story.tab1.con6') %></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tab-pane" id="st2">
	<div class="row  s-content">
		<div class="col-xs-12 col-sm-6 cover ">
			<%= image_tag('gracz-ecosystem.jpg') %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row ">
				<div class="col-sm-12 s-head-r">
					<h3><%= t('story.tab2.head1') %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- <h4>วิสัยทัศน์</h4> -->
					<p><%= t('story.tab2.con1') %></p>
					<p><%= t('story.tab2.con2') %></p>
					<p><%= t('story.tab2.con3') %></p>
					<p><%= t('story.tab2.con4') %></p>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tab-pane" id="st3">
	<div class="row s-content">
		<div class="col-sm-6 col-xs-12">
			<div class="row">
				<div class="col-xs-12 s-head-l">
					<h3 style="margin-top: -10px;"><%= t('story.tab3.head1') %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 list">
					<ul>
						<li><%= t('story.tab3.con1') %></li>
						<li><%= t('story.tab3.con2') %></li>
						<li><%= t('story.tab3.con3') %></li>
						<li><%= t('story.tab3.con4') %></li>
						<li><%= t('story.tab3.con5') %></li>
						<li><%= t('story.tab3.con6') %></li>
						<li><%= t('story.tab3.con7') %></li>
						<li><%= t('story.tab3.con8') %></li>
						<li><%= t('story.tab3.con9') %></li>
						<li><%= t('story.tab3.con10') %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 cover fix-img s-bot">
			<div class="row">
				<div class="col-xs-6">
					<%= image_tag('milestone01.jpg') %>
				</div>
				<div class="col-xs-6">
					<%= image_tag('milestone02.jpg') %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<%= image_tag('milestone03.jpg') %>
				</div>
				<div class="col-xs-6">
					<%= image_tag('milestone04.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tab-pane" id="st4">
	<div class="row">
		<div class="col-xs-12 col-sm-12 cover ">
			<%= image_tag('thaibpe_12.png') %>
		</div>
		<div class="col-xs-12 col-sm-12 s-head ">
			<h3><%= t('story.tab4.head1') %></h3>
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_1.png') %>
					<h3><%= t('story.tab4.col1') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-l img-r">
					<%= image_tag('thaibpe_2.png') %>
					<h3><%= t('story.tab4.col2') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_3.png') %>
					<h3><%= t('story.tab4.col3') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-l img-r">
					<%= image_tag('thaibpe_4.png') %>
					<h3><%= t('story.tab4.col4') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_5.png') %>
					<h3><%= t('story.tab4.col5') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-l img-r">
					<%= image_tag('thaibpe_6.png') %>
					<h3><%= t('story.tab4.col6') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_7.png') %>
					<h3><%= t('story.tab4.col7') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-l img-r">
					<%= image_tag('thaibpe_8.png') %>
					<h3><%= t('story.tab4.col8') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_9.png') %>
					<h3><%= t('story.tab4.col9') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-l img-r">
					<%= image_tag('thaibpe_10.png') %>
					<h3><%= t('story.tab4.col10') %></h3>
				</div>
				<div class="col-sm-10 col-sm-offset-1 s-head-r img-l content-green">
					<%= image_tag('thaibpe_11.png') %>
					<h3><%= t('story.tab4.col11') %></h3>
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
<!-- HEAD Cover -->
<script type="text/javascript">
// insert slider
$('#story-menu ul').append('<div id="slider"></div>');
// initially reset
var left = $('#story-menu ul li.active a').parent().position().left;
var width = $('#story-menu ul li a').parent().width()-5;
	var	height = 30;
var top = 28;
$('#slider').css({'width' : width, 'left' : left, 'height' : height, 'top' : 28});
// sliding
$('#story-menu ul li a').each(function(){
	$(this).hover(function(){
	var left = $(this).parent().position().left;
	var width = $('#story-menu ul li a').parent().width()-5;
	var height = 30;
	$('#slider').stop().animate({
	'left' : left,
	'width' : width,
	'height' : height,
	'top' : 28
	});
	});
});
// set active
$('.tab-pane').each(function(){
	$(this).hover(function(){
		$('#slider').stop().animate({
		'left' : $('#story-menu ul li.active a').parent().position().left,
		'width' : $('#story-menu ul li a').parent().width()-5,
		'height' : 30,
		'top' : 28
		});
	});
});
</script>