<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><%= link_to t('menu.hm'), root_path %></li>
        <!-- <li><a href="#">Library</a></li> -->
            <li class="active"><%= t('menu.tt') %></li>
        </ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>

	
<div class="row">

	<% @t.each do |i| %>
				
		
		
		<div class="row event-content">
			<div class="col-sm-12">
				<% if i.class.name == "Event" %>
					<h2 class="title-box center"><%= link_to i.title, event_path(i) %> <small class="pull-right"><%= t('menu.ev') %></small></h2>
				<% elsif i.class.name == "Tip" %>
					<h2 class="title-box center"><%= link_to i.title, tip_path(i) %> <small class="pull-right"><%= t('menu.tp') %></small></h2>
					
				<% elsif i.class.name == "Planet" %>
					<h2 class="title-box center"><%= link_to i.title, planet_path(i) %> <small class="pull-right"><%= t('menu.pn') %></small></h2>
					
				<% elsif i.class.name == "Life" %>
					<h2 class="title-box center"><%= link_to i.title, life_path(i) %> <small class="pull-right"><%= t('menu.lf') %></small></h2>
					
				<% else %>
					<h2 class="title-box center"><%= link_to i.title, '#' %> <small class="pull-right"><%= t('menu.ev') %></small></h2>
					
				<% end %>
				
			</div>

			<div class="col-sm-12 ">	
				<div class="col-sm-5 col-xs-12 no-pad">
					<% if i.class.name == "Event" %>
						<%= link_to image_tag(i.cover.cover.url, :width => "100%"), event_path(i) %>
					<% elsif i.class.name == "Tip" %>
						<%= link_to image_tag(i.cover.cover.url, :width => "100%"), tip_path(i) %>
					<% elsif i.class.name == "Planet" %>
						<%= link_to image_tag(i.cover.cover.url, :width => "100%"), planet_path(i) %>
					<% elsif i.class.name == "Life" %>
						<%= link_to image_tag(i.cover.cover.url, :width => "100%"), life_path(i) %>
					<% else %>
						<%= link_to image_tag(i.cover.cover.url, :width => "100%"), '#' %>
					<% end %>
				</div>

				<div class="col-sm-7 col-xs-12">

					<% if i.class.name == "Event" %>
						<p> <%=  "#{i.teaser.truncate(200)}"%></p>
					<% elsif i.class.name == "Tip" %>
						<p> <%= raw "#{i.content.truncate(200)}"%></p>
					<% elsif i.class.name == "Planet" %>
						<p> <%=  "#{i.teaser.truncate(200)}"%></p>
					<% elsif i.class.name == "Life" %>
						<p> <%=  "#{i.teaser.truncate(200)}"%></p>
					<% else %>
						<p> <%=  "#{i.teaser.truncate(200)}"%></p>
					<% end %>

				</div>

				<div class="col-sm-7 col-xs-12">
					<div class="col-sm-12 col-xs-12 tags">
						<span class="glyphicon glyphicon-tags"></span> &nbsp; <%= raw i.tags.map(&:name).map { |t| link_to t, tagged_path(:tag => t) }.join(' , ') %>
					</div>
				</div>

			</div>
		</div>

	<% end %>
	
</div>
<div class="row" id="page">
		<%= paginate @t %>
</div>

