<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li class="active"><%= t('menu.ev') %></li>
    </ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>

<div class="row row-content">
	<div class="col-sm-12 cover">
		<%= image_tag 'event.jpg' %>
	</div>

	<div class="col-sm-12">
		<h3><%= t('event.head') %></h3>		
	</div>

	<div class="col-sm-12" >
		<p><%= t('event.search') %> :&nbsp;<%= select_tag "search", options_for_select(@years,params[:year] ), :class => "select-style" %> </p>
	</div>
</div>


	


	<% @events.each_with_index do |i, index| %>
	<div class="row event-content">
		<div class="col-sm-12">
			<h2 class="title-box center"><%= i.title %></h2>
		</div>
		<div class="col-sm-12 ">	
			<div class="col-sm-5 col-xs-12 no-pad">
				<%= link_to image_tag(i.cover.cover.url, :width => "100%"),event_path(i) %> 
			</div>						
			<div class="col-sm-7 col-xs-12">
				<h4><%= link_to "#{i.title}", event_path(i) %></h4>
				<p><%= "#{i.date.strftime("%d.%m.%Y")} " %> &nbsp;|
					&nbsp; <%= " #{i.date.strftime("%H:%M")} " %> &nbsp;|
					&nbsp; <span class="glyphicon glyphicon-map-marker"></span> &nbsp;<%= i.locate %>
				</p>

				<p> <%=  "#{i.teaser.truncate(200)}".html_safe %></p>
			</div>
			<div class="col-sm-7 col-xs-12">
				<div class="col-sm-12 col-xs-12 tags">
					<span class="glyphicon glyphicon-tags"></span> &nbsp; <%= raw i.tags.map(&:name).map { |t| link_to t, tagged_path(:tag => t) }.join(' , ') %>
				</div>
			</div>
		</div>
		</div>
	<% end %>
	

<div class="row" id="page">
	<%= paginate @events %>
</div>

<script type="text/javascript">
	$(document).ready(function() {

  $("select#search").change(function(){
    $(this).closest("form").submit(
    	window.location =  '/<%= params[:locale] %>/event?year='+ $(this).val()
    );
  });

  $("#search").on("change", function(){
  window.location = '/<%= params[:locale] %>/event?year='+ $(this).val()
});

});
</script>




