<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-12 col-xs-12">
        <ol class="breadcrumb">
        	<li><%= link_to t('menu.hm'), root_path %></li>
  			<li><%= link_to t('menu.ev'), event_index_path %></li>
           	<li class="active"><%= @event.title %></li>
        </ol>
      </div>
</div>

<div class="row" >
	<div class="col-sm-12 col-xs-12">
		<%= image_tag @event.cover.content_cover.url, :width => "100%"%>
	</div>
</div>

<div class="row">
		<div class="col-sm-10 col-xs-12">
			<h3 style="color: #60a306;"><%= @event.title %></h3>
		</div>
		<div class="col-sm-2 col-xs-12" style="margin-top: 29px;text-align: right;margin-bottom: 25px;">
		      <div class="fb-share-button" data-href=<%= request.url %> data-type="button_count"></div>
		</div>
	<div class="col-sm-12 full-content" >
		<p>
			<%= "#{@event.content}".html_safe %>
		</p>
		<p>
			<%= @event.created_at %>
		</p>
		<p>
			Location : <%= @event.locate %></br>
			Event Date : <%= @event.date %></br>
			Create at : <%= @event.created_at %>
		</p>
	
		<div class="col-sm-12 back" >
			<%= link_to t('back'), event_index_path %>
		</div>
	</div>

</div>

<!-- ////////////////////////////////////////////////////////////////////// -->