<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-8">
        <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li class="active"><%= t('menu.pd') %></li>
    </ol>
      </div>
      <div class="col-sm-6 col-xs-4">
        <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
</div>

<div class="row row-content">
	<div class="col-sm-12 cover">
		<%= image_tag 'coverproduct.jpg' %>
	</div>
</div>
<div class="row row-content">
	<div class="col-sm-4 col-xs-4 cover-p">
		<%= link_to image_tag('classic.png'),classic_path %>
	</div>
	<div class="col-sm-4 col-xs-4 cover-p">
		<%= link_to image_tag('simple.png'),simple_path %>
	</div>
	<div class="col-sm-4 col-xs-4 cover-p">
		<%= link_to image_tag('other.png'),other_path %>
	</div>
</div>	

<div class="row row-content">
<div class="col-sm-12">
		<h1 class="gracz"><%= t 'product.head1' %></h1>
		<p><%= t 'product.sub1' %></p>
		<h3><u><%= t 'product.head2' %></u>​</h3>
		<ul style="font-size:22px;">
			<li><%= t 'product.col1' %></li>
			<li><%= t 'product.col2' %></li>
			<li><%= t 'product.col3' %></li>
      <li><%= t 'product.col4' %></li>
      <li><%= t 'product.col5' %></li>
      <li><%= t 'product.col6' %></li>
      <li><%= t 'product.col7' %></li>
      <li><%= t 'product.col8' %></li>
      <li><%= t 'product.col9' %></li>
      <li><%= t 'product.col10' %></li>
      <li><%= t 'product.col11' %></li>
      <li><%= t 'product.col12' %></li>
      <li><%= t 'product.col13' %></li>
		</ul>
	</div>
</div>

<div>
	<h3 style="margin-top: 0px;"><u><%= t 'table.title' %></u></h3>
	<div class="bs-example">

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th><%= t 'table.col1' %></th>
          <th><%= t 'table.col2' %></th>
          <th><%= t 'table.col3' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="non"><%= t 'table.l1' %></td>
          <td><%= fa_icon "check" %></td>
          <td><%= fa_icon "check" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l2' %></td>
          <td><%= fa_icon "question" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l3' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l4' %></td>
          <td><%= fa_icon "check" %></td>
          <td><%= fa_icon "check" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l5' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l6' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "question" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l7' %></td>
          <td><%= fa_icon "question" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l8' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l9' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
        <tr>
          <td id="non"><%= t 'table.l10' %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "times" %></td>
          <td><%= fa_icon "check" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>














