<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
  <div class="col-sm-12 col-xs-12">
    <ol class="breadcrumb">
      <li><%= link_to t('menu.hm'), root_path %></li>
      <li><%= link_to t('menu.pd'), product_index_path %></li>
      <li>

        <% if @product.product_type == "Simple Product" %>
          <%= link_to t('product.sm') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
        <% end %>

        <% if @product.product_type == "Classic Product" %>
          <%= link_to t('product.cs') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
        <% end %>

        <% if @product.product_type == "Other Product" %>
          <%= link_to t('product.ot') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
        <% end %>

      </li>
      <li class="active"><%= @product.name %></li>
    </ol>
  </div>
  <!-- <div class="col-sm-6 col-xs-4 no-pad">
    <div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div> -->
</div>

<div class="row row-content">
  <div class="col-sm-5 col-xs-12">
    <div id="slider-show" class="flexslider">
      <ul class="slides slides-p">
        <% ProductImage.find_all_by_product_id(@product.id).each do |a| %>
        <li>
          <%=  image_tag(a.image.thumb1.url) %>
        </li>
        <% end %>
      </ul>
    </div>
    <p><%= t('product.details.more') %> :</p>
    <div id="carousel" class="flexslider">
      <ul class="slides product-colo">
        <% ProductImage.find_all_by_product_id(@product.id).each do |a| %>
        <li class="border-wrapper" >
          <%=  image_tag a.image.mini_thumb.url %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-sm-7 col-xs-12">
    
    <div class="col-sm-9 col-xs-9" style="color:#60a306;">
      <h3 style="font-weight: 300;"><%= @product.name %></h3>
    </div>
    <div class="col-sm-2 col-xs-2" style="margin-top: 29px;text-align: right;margin-bottom: 25px;">
      <div class="fb-share-button" data-href=<%= request.url %> data-type="button_count"></div>
    </div>

    <div class="col-sm-12 underline">
      <%= @product.description %>
    </div>
    <div class="col-sm-12" style="padding-top:20px;">
      <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="product-table"><%=  image_tag('model.jpg') %><%= t('product.details.model') %> :</td>
                    <td class="product-table"><%= @product.model %></td>
                </tr>
                <tr>
                    <td class="product-table"><%=  image_tag('dimensional.jpg') %><%= t('product.details.dimen') %> :</td>
                    <td class="product-table"><%= "#{@product.dimension_x} X #{@product.dimension_y} X #{@product.dimension_z}" %></td>
                </tr>
                <tr>
                    <td class="product-table"><%=  image_tag('weight.jpg') %><%= t('product.details.weight') %> :</td>
                    <td class="product-table"><%= @product.weight %> <%= t('product.details.g') %></td>
                </tr>
                <tr>
                    <td class="product-table"><%=  image_tag('product-detail.jpg') %><%= t('product.details.detail') %> :</td>
                    <td class="product-table">
                      <% StockUnit.find_all_by_product_id(@product.id).each_with_index do |a, index| %>
                        <%= "#{a.pcsppack} ".html_safe %> <%= t('product.details.unit1') %></br>
                        <%= "#{a.packpctn} ".html_safe %> <%= t('product.details.unit2') %></br>
                        <%= "#{a.pcsppack * a.packpctn} ".html_safe %> <%= t('product.details.unit3') %></br></br>
                      <% end %> 
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="back">
  <% if @product.product_type == "Simple Product" %>
    <%= link_to t('back') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
  <% end %>

  <% if @product.product_type == "Classic Product" %>
    <%= link_to t('back') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
  <% end %>

  <% if @product.product_type == "Other Product" %>
    <%= link_to t('back') , "/#{params[:locale]}/#{ @product.product_type.split[0].downcase}" %>
  <% end %>
</div>

<script type="text/javascript" >
  $(document).ready(function(){
  // $(window).load(function() {
  // The slider-show being synced must be initialized first
    $('#slider-show').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      directionNav: false,
      sync: "#carousel"
    });

    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 100,
      itemMargin: 10,
      minItems: 3,
      maxItems: 3,
      asNavFor: '#slider-show'
    });
  });
</script>




