<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
	<div class="col-sm-6 col-xs-8">
		<ol class="breadcrumb">
			<li><%= link_to t('menu.hm'), root_path %></li>
			<li><%= link_to t('menu.pd'), product_index_path %></li>
			<li class="active"><%= t('product.sm') %></li>
		</ol>
	</div>
	<div class="col-sm-6 col-xs-4">
		<div class="fb-like" id="face" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
</div>
<div class="row row-content">
	<div class="col-sm-12 cover">
		<%= image_tag('simple_cover.jpg') %>
	</div>
</div>
<div class="row row-content">
	<div class="col-sm-12">
		<h3><%= t('product.sm') %></h3>
		<p><%= t('product.sub3') %></p>
	</div>
</div>
<div class="row row-content">
	<div class="col-sm-3">
		<div class="panel-group" id="accordion">
			<div class="panel panel-gracz" >
				<div class="panel-heading">
					<!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
					Classic Product
					</a> -->
					<%= link_to t('product.cs'), classic_path %>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body l-menu">
						<ul>
							<li> <%= link_to t('all'), classic_path %> </li>
							<% Category.where(classic: true).each do |c| %>
							<li><%= link_to "#{c.name}", classic_path(:type => "#{c.id}") %></li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
					<%= t('product.sm') %>
					</a>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body l-menu">
						<ul>
							<li> <%= link_to t('all'), simple_path %> </li>
							<% Category.where(simple: true).each do |c| %>
							<li><%= link_to "#{c.name}", simple_path(:type => "#{c.id}") %></li>
							<% end %>
						</ul>
					</div>
				</div>				
				<div class="panel-heading">
					<!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
					Other Product
					</a> -->
					<%= link_to t('product.ot'), other_path %>
				</div>
				
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body l-menu">
						<ul>
							<li> <%= link_to t('all'), other_path %> </li>
							<% Category.where(other: true).each do |c| %>
							<li><%= link_to "#{c.name}", other_path(:type => "#{c.id}") %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/product' %>
</div>
<div class="row" id="page">
	<%= paginate @products %>
</div>