
<div class="row" style="margin-bottom: 10px;margin-left: 0px;">
      <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
        	<li><%= link_to t('menu.hm'), root_path %></li>
  			<li><%= link_to t('menu.lf'), life_index_path %></li>
           	<li class="active"><%= @content.title %></li>
        </ol>
      </div>
</div>

<%= render 'layouts/show_content' %>


