#pro {
	margin: 10px 0px 0px 0px;
}

#conten {
	/*margin-left: 0px;
	margin-right: 5px;
	margin-top: 20px;*/
	margin: 20px 40px 15px 0px;
	text-align: center;
	/*border: solid 1px;*/
}

#indexcover{
	margin-top: 20px;
	/*height: 300px;*/
}

#head {
	background: url('bg-header.jpg');
	color: white;
}

#dummy {
	margin-top: 20px;
	background: url('bg-header.jpg');
	height: 40px;
}
p{
	margin-left: 10px;
	text-align: left;
	color: #ED872D;
}

h1{
	color: #C04000;
}

h5{
	color: #ED872D;
}

#head a{
	color: white;
	text-decoration: none;
}

#head a:hover{
	color: white;
	/*text-decoration: underline overline;*/
}

img {
	display: initial;
height: auto;
width: auto;
}

