// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "just_datetime_picker/base";
@import "bootstrap-tagsinput";
@import "jquery-ui";




.wysihtml5-sandbox{
	width: 100% !important;
	height: 450px !important;
	margin-left: -65px !important;
}

.activeadmin-wysihtml5-modal{
	top: 20px !important;
}

.bootstrap-tagsinput {
	width: 75%;
	.tag {
		margin-right: 2px;
		color: white;
	}
}

.label-info, .badge-info {
background-color: #5cb85c;
border-color: #4cae4c;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 2px 4px;
}