// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'var';
@import 'normalize';

.glyphicon-map-marker{
  font-size: 16px !important;
}

.tags{
  a{font-size: 22px !important;}
}

.event-content{
  padding: 5px 0px 30px 0px !important;
  margin-bottom: 20px;
  border-bottom: dotted 1px gray;
  small{
    margin-top: 15px;
    color: white;
    padding-right: 25px;
  }
  a{
  	color: $green-base;
  }
  p{
    text-align: justify;
    font-size: 1.3em;
  }
  .icon{
  img{
    max-width: 17px;
    max-height: 24px;
  }
  h2.title-box{
    a{
      color: white !important;
    }
  }
}
}

.row-content{
  p{
    select{
      font-size: 16px;
    }
  }
}