@import 'var';
@import 'normalize';

$green-content: #d7e7c0;
$main-color: #60A306;

#accordion{
  margin-bottom: 0px !important;
  .panel-body{
    height: 160px;
  }
  #slider-image-wrapper{
    padding-right: 20px;
  }
  .panel-gracz{
  padding-bottom: 0px;

  .panel-heading{
   background: #60A306;
   border-bottom: 1px solid white !important;
   border-radius: 0px 0px 0px 0px !important;
  }

  .non {
    border-bottom: 0px solid white !important;
    border-radius: 0px !important;
  }

  a,a:hover{
      display: block;
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
    }
    .panel-body{
      height: 135px;
      // height: 50px;
      overflow-y: scroll;
    }
    .panel-body-w{
      // height: 150px;
      // height: 50px;
      // overflow-y: scroll;
    }
  }
}

.colo {
  img {
    width: 50% !important;
    // height: 82px !important;
  }
}


//Carousel
.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 10px solid #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
     -moz-box-shadow: 0 0 2px #999;
          box-shadow: 0 0 2px #999;

  .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
    
    a {
      color: #fff;
    }
  }
}

.jcarousel {
  position: relative;
  overflow: hidden;
  // width: 660px;

  ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }
}

.flexslider .slides-p img {
// width: 270px;
// height: 331px;
// display: block;
}

.flex-control-nav{
  bottom: -30px !important; 
}
.flex-active{
  background:$green-base !important;
}

.flex-direction-nav a { opacity:0.7 !important; }
.s-content-green{
  background-color: $green-content;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;

  img{
    width: 100%;
    border-bottom: solid 7px $main-color;
    margin-bottom: 10px;
  }
}

.s-bot{
    img{
      border: none !important;
      margin-bottom: 25px;
    }
  }

.s-content{
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: justify;

  img{
    width: 100%;
    border-bottom: solid 7px $main-color;
    margin-bottom: 10px;
  }
}

.content-green{
  background-color: $green-content;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  // text-align: justify;
}

.img-l{
  h3{
   margin-top: 9%;
  }

  img{
    max-width: 100%;
    display: inline;
    float: left;
    border: solid 4px $main-color;
    // border-right: solid 7px $main-color;
    margin-bottom: 10px;
  }
}

.img-r{
  h3{
   margin-top: 9%;
  }

  img{
    max-width: 100%;
    display: inline;
    float: right;
    border: solid 4px $main-color;
    // border-left: solid 7px $main-color;
    margin-bottom: 10px;
  }
}

.s-head{
  h3{
    text-align: center;
    color: $main-color;
    border-bottom: solid 2px $main-color;
    padding-bottom: 10px;
  }
}

.s-head-l{

  h3{
    text-align: left;
    color: $main-color;
    border-bottom: solid 2px $main-color;
    padding-bottom: 10px;
  }

}
.list{
  ul{
    padding-left: 10px;
    li{
      font-size: 22px;
      text-align: left;
    }
  }
}

.s-head-r{

  h3{
    text-align: right;
    color: $main-color;
    border-bottom: solid 2px $main-color;
    padding-bottom: 10px;
  }
}


.faq-head-title{
  font-size: 3em;
  text-align: center;
  color: $main-color;
  border-bottom: solid 2px #60a306;
  font-weight: bolder;
}



// =================================== Styory menu ===========================================

#story-menu{
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
   text-align: center;

  ul{
    list-style: none !important;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 30px;
    -moz-border-image: url(menu_border.png) 0 0 30 stretch;
    -webkit-border-image: url(menu_border.png) 0 0 30 stretch;
    -o-border-image: url(menu_border.png) 0 0 30 stretch;
    border-image: url(menu_border.png) 0 0 30 fill stretch;
    font-size: 1.5em;

    li{
      // width: 100%;
      width: 220px;
      // white-space: nowrap;
      display: inline-block;
      // display: -webkit-inline-box;
        // float: left;
      a{
        // position: relative;
        width: 100%;
        text-decoration: none;
        color: black;
        display: inline;
        // white-space: nowrap;
      }

       a:hover{
        // text-decoration: none; 
        color: $green-base;
      }
    }

    li.active{
      a{
        color: $green-base;
      }
    }
  }
}

#slider {
    position:absolute;
    top: 18px;
    left: 0;
    height: 80%;
    padding: 5px 15px;
    margin-left: 1px;
    background: url(menu_border1.png);
    background-repeat:no-repeat;
    background-position: center 2px;
    z-index:1;
    text-decoration: none;
}


#slider-main {
position: absolute;
// top: 0px;
left: -15px;
width: 30px;
height: 30px;
padding: 5px 15px;
margin-left: 10px;
margin-top: -24px;
background: url(indi.png);
background-repeat: no-repeat;
// background-size: 100%;
background-position: center;
z-index: 1;
// text-decoration: none;
}


.panel-heading {

  a.actives{
    // float: left;
    // color: black !important;
  }
}


.panel-heading .accordion-toggle:before{
  content:"-";
  float: right;
  color: #fff;
}

.panel-heading .accordion-toggle.collapsed:before{
  content: "+";
}

center{
  font-size: 22px !important;
}


// =================================== FAQ menu ===========================================

.nav-faq{
  ul{
    li{
      a{
        font-weight: bolder;
        color: $main-color;
        font-size: 24px;
      }
    }
  }
  border-bottom: 2px solid $main-color;
  margin-bottom: 25px;
}

.content-faq{

  .panel-default{
    border-color: $main-color !important;
    border-radius: 0px;

    .panel-heading {
      background-color: $main-color !important;
      border-color: $main-color !important;
      border-radius: 0px;
    }
    .panel-footer{
      a{
        text-align: right;
        display: block;
        font-size: 18px;
        color: $main-color;
      }
    }
  }

  h3{
    font-size: 1.7em;
    color: #fff;
    // text-decoration: underline;
    // margin-top: 20px;
    font-weight: bolder;
  }
  .panel-body{
    p{
      text-align: left;
      margin-bottom: 20px;
      font-size: 24px !important;
    }

    ol, ul{
      font-size: 24px !important;
      li{
        font-size: 24px !important;
      }
    }

    ul{
      // list-style: none;
    }

  }
}


button{
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  margin: 50px 0 0 50px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 58px;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  a{
    color: #fff;
  }
  a:hover{
    color: #fff;
    text-decoration: none;
  }
}

button:hover{
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.tab-s{
  margin-top: 20px;
  margin-bottom: 20px;
  a{
    color: black;
     // text-decoration: none;
  }

  li.active{
    a{
      color: $main-color;
    }
  }

}
























