// Place all the styles related to the Life controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'var';
@import 'normalize';

.carousel-head{
left: 0px !important;
right: 0px !important;
padding-bottom: 0px !important;
padding-top: 0px !important;
color: white;
background-color: rgba(0, 0, 0, 0.36) !important;
bottom: 0px !important;
text-align: left !important;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  h1{
    font-size: 2em !important;
    a{color: #fff !important;
      font-size: 1.3em !important;
     }
  }
}

.first{
  padding-bottom: 30px;
  border-bottom: dotted 1px gray;
}

.content{
	h3{
	  color: $green-base;
	  text-align: center;
	}
	p{
		text-align: justify;
	}

}

.img-con{
  max-height: 400px;
	img {
    	display: block !important;
    	width: 100% !important;
    	// height: 400px !important;
      overflow: hidden;
    	line-height: 1 !important;
  	}
}
.show-con{
  // height: 300px;
  display: block;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 5px;
  h2{
     font-size: 2em !important;
  }
  a{color: $green-base !important;
      font-size: 1em !important;
  }
}

.preview{
  height: 100px;
  // min-height: 60px;
  overflow: hidden;
}

.full-content{
  img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-title{
  border-bottom: solid $green-base 1px;
}

.full-content{
  font-size: 22px !important;
  text-align: justify;

  div,p,b,i,li,ul,blockquote,ol,a {
    font-size: 22px !important;
  }

  h1,h2,h3,h4{
    font-weight: bold;
    text-decoration: underline;
  }
}



.tags{
  p{
    color: $green-base;
    a{
      color: $green-base;
    }
  }
}













