@import 'var';
@import 'normalize';

// ===================================== Header Footer ===============================================

@font-face {
  font-family: 'KittithadaLight45P';
  src: url('KittithadaLight45P.eot?') format('eot'), 
       url('KittithadaLight45P.woff') format('woff'), 
       url('KittithadaLight45P.ttf')  format('truetype'),
       url('KittithadaLight45P.svg#KittithadaLight45P') format('svg');
}

h3{
  font-family: 'KittithadaLight45P' !important;
  font-size : 30px !important;
  font-size: 100%;
  font-weight : bold;
  text-align: left;
}

p{
  // color: black;
  font-family: 'KittithadaLight45P';
  font-size : 22px !important;
  line-height: 22px;
  font-size: 100%;
  font-weight : normal;
  text-align: left;
}

.table-responsive{
  font-size: 1.5em;
}
.map{
  margin-top: 10px;
  margin-bottom: 10px;
  img{
    width: 100%;
    border: solid white 2px;
    border-radius: 10px;
  }
}

.gracz{
  // color: black;
  font-family: 'KittithadaLight45P';
  margin: 0.3em 0;
  font-size : 2.7em !important;
  // line-height: 22px;
  // font-size: 100%;
  font-weight : bold;
  // text-align: left;
}

#header{  
  background-color: $green-base;
  border-radius: 0px;
  #lang{
    background-color: #3e3e3e;
    h6{
      font-size: 18px !important;
      span{
        color: $green-base;
      }
      a{
        color: #DDD;
      }
    }
    .row{
      color: #DDD;
      margin-bottom: 0px !important;
    }
  }
  .menu{
    padding: 5px 0px 15px;
    margin-bottom: 0px;
    .logo{
      img{
        display: block;
        max-width: 200px;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        padding-left:  30px;
        margin-bottom: 10px;
      }
    }
    ul{
      display: inline;
      text-align: center;
      padding-right: 80px;
    }
    
    li{
      margin-top:13px;
      height: 100%;
      display: inline;
      a{
        text-align: left;
        font-size: 1.7em;
        font-weight: 500;
        color: #fff;
        padding: 30px 20px 20px 10px;
      }
    }
  }
}


#footer{
  margin-top: 20px;
  background: #e7e2ce;
  border-top: 1px solid #e6e6e6;
  margin-right: 0px !important ;
  margin-left: 0px !important ;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  h5{
    color: $green-base;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 23px;
    font-weight: bold;
  }
  span{
    display: inline-block;
  }
  p.foot{
    color: black;
    font-size: 20px !important;
    font-weight: bold;
  }
  ul.foot{
    text-decoration: none;
    list-style: none;
    padding: 0 0 0 0;
    li{
      text-decoration: none;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
      a{
        font-size: 20px !important;
        color: black;
      }
    }
    li:before {
      content: "•  ";
      color: $green-base !important; /* or whatever color you prefer */
      font-weight: 100;
    }
  }
  a.faq{
    font-size: 20px;
    color: gray;
  }
  a.social{
    img{
      width: 25%;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .btn-gracz{
    color: white;
    background-color: $green-base;
    border-color: $green-base;
    border-radius: 0px;
    font-size: 18px;
  }

  img{
    max-width: 100%;
  }


   #copyright {
    margin-top: 25px;
    background: $green-base;
    color: #FFF;
    padding: 10px 0 10px 0;    
    margin-right: 0px !important ;
    margin-left: 0px !important ;
    
    p {
      font-size: 1em;
      text-align: left;
      margin: 0 0 0;
    }
  }
}

.icon-bar {
  background-color: #FFFFFF !important;
}

// ===================================== Adding ===============================================

.cover{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: relative;
  img{
    width: 100%;
  }
}

#map{
  margin-top: 20px;
  // margin-bottom: 20px;
}

.content-logo{
  border-bottom: 2px $green-base solid;
}

.b-green{
  border: solid 1px $green-base;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-bot{
  border-bottom: dotted 1px gray;
}

.select-style {
  width: 180px;
  height: 25px;
  overflow: hidden;
  background: url(down_arrow_select.jpg) no-repeat right ;
  color: black;
  border-radius: 0px;
  border: 2px solid $green-base;
  -webkit-appearance: none;
  display: inline-block;
  padding-left: 20px;
  position: absolute;
  top: -3px;
}

.content-logo{
  img{
    display: -webkit-inline-box;
    margin-left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
    // width: 100%;
  }
}

.fix-img{
  img{
    padding-top: 15px !important;
    padding-bottom: 0px !important;
  }
}

.no-pad{
  padding: 0px !important;
}

.box{
  padding: 0px 15px 0px 15px;
}

.row-content{
  padding: 15px 0px 15px 0px;
  text-align: justify;
  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-box {
  background: $green-base;
  color: white;
  height: 50px;  
  line-height: 50px;
  margin-bottom: 10px;
  margin-top: 0px !important;
  text-transform: uppercase;
    &.center{
      text-align: center;
      padding-left: 0px !important;
    }
    a{
      color: white !important;
    }
}

.product-name{
  font-size: 1.9em;
  font: bold;
  color: $green-base !important;
  text-align: center;
  &.left{
    text-align: left;
  }
  a{
    color: $green-base !important;
  }
}
.sub-detail{
  text-align: center;
  text-decoration: underline;
  font-size: 1em;  
  a{
    color: #333 !important;
  }
  &.no-underline{
    text-decoration: none;
  }
  &.left{
    text-align: left;
  }
}

address{
  // font-family: 'KittithadaLight45P';
  font-size: 1.5em;
}


.back{
  font-weight: 500;
  text-align: right;
  font-size: 1.7em;
  margin-top: 15px;
  a{
    color: $green-base;
    padding: 0 14px;
    line-height: 34px;
    margin: 0 5px 0 5px;
    text-decoration: none;
    // display: block;
  }
  a:hover{
      color: #fff;
      text-decoration: none;
      background-color: $green-base;
      border-radius: 20px;
  }
}

.page{
  font-weight: 500;
  text-align: right;
  font-size: 1.2em;
  margin-top: 15px;
  ul{
    display: inline-block;
    li{
      display: inline;
      padding-left: 10px;
    }
  }

  a{
    float: left;
    padding: 0 14px;
    line-height: 34px;
    margin: 0 5px 0 5px;
    text-decoration: none;
    color: black;
    display: block;
  }
  a:hover{
      color: #fff;
      text-decoration: none;
      background-color: $green-base;
      border-radius: 20px;
  }

  .active{
    a{

      color: #fff;
      text-decoration: none;
      background-color: $green-base;
      border-radius: 20px;
      cursor: default;
      pointer-events: none;
      // text-decoration: none;
      // background-color: #ccc;
    }
  }

}


// ===================================== Override ===============================================


.glyphicon{
  color: $green-base !important;
}

.flex-direction-nav a:before{
  font-size: 30px !important;
}

.navbar-header{
  img{
    margin-top: 20px;
    display:block;
    width: 230px;
  }
}

.flexslider { width: 90%; margin-left: auto !important;
    margin-right: auto !important; }


.navbar-nav.navbar-right:last-child {
margin-right: 0px !important;
}

.navbar-toggle {
border-color: #fff !important;
}

.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(164, 240, 167, 0.68) !important;
}

#face{
  float: right;
  display: block;
  overflow: hidden;
  width: 79px;
  height: 20px;
  margin-right: 1px;
  margin-left: 1px;
}

.breadcrumb {
padding: 0px !important;
margin-bottom: 0px !important;
list-style: none;
border-radius: 4px;
background-color: #fff !important;
font-size: 1.3em;
font-weight: bold;
li{
  a{
    color:black;
  }
}
}

//Flexslider tweak
.flexslider{
  // padding-bottom: 60px !important;
  // padding-bottom: 50px !important;
  // max-height: 300px !important;
  box-shadow: none !important;
  // border-radius: none !important;
  img{
    width: 100%;
    margin: auto;
  }
}

.flex-direction-nav a:before{
  font-size: 30px !important;
}

  img.wysiwyg-float-left{
    display: inline !important;
    float: left !important;
    margin-right: 10px;
    margin-left: 10px;
  }

  img.wysiwyg-float-right{
    display: inline !important;
    float: right !important;
    margin-left: 10px;
    margin-right: 10px;
  }












