// Place all the styles related to the Pride controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var';

.pride{
	// border: 1px solid $green-base;
	// padding-left: 10px;
	// padding-right: 10px;

	// margin-left: 5px;
	// margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	// min-height: 425px;

	.content{
		border: 1px solid $green-base;
		color: #fff;
		background-color: $green-base;
		height: 100px;
		p{
			text-align: left !important;
		}
		// height: 50px;
   		overflow-y: scroll;
	}
	.image{
		border: 1px solid $green-base;
		padding-left: 0px;
		padding-right: 0px;
		img{
		 	width: 100%;
		}
	}

}

.p-menu ul li {
	width: 33.33% !important;
}

.bs-example{
	table{
		thead, tfoot{
			background-color: $green-base;
			color: white;
			th{
				height: 51px;
				font-size: 1.2em;
				text-align: center;
				font-weight: bolder;
			}
		}


		td#non{
			text-align: left;
			padding-left: 40px;
			font-size: 1.2em;
		}

		td{
			i{
				color: $green-base;
			}
			text-align: center;
		}
	}
}