// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .head{
//   margin: -10px 0px 0px 0px;
//   padding: 0px 0px 80px 0px;
//   background: #E7E2CE;
//   border-bottom: solid #60A306;
// }

// .content-show-f{
//   margin-top: -70px;
//   // font-family: 'ralewaylight';
//   // border: dotted gray 1px;
// }

@import 'var';

.l-menu{
	height: auto !important;
	ul{
		li{
			a{
				color: black !important;
			}
			a:hover{
				color: gray !important;
			}
		}
	}
}

.underline{
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 2px solid $green-base;
	font-size : 20px !important;
}

.product-table{
	vertical-align: baseline !important;
	border-top: none !important;
	padding: 3px !important;
	// border-bottom: 1px solid $green-base;
}


.product-colo {
  img {
    max-width: 100px !important;
    border: 1px solid rgba(128, 128, 128, 0.20) ;
  }
}

#slider{
	margin-bottom: 20px !important;
	color: $green-base;
}

#carousel{
	margin-bottom: 20px !important;
	ul{
		li{
			a{
				color: $green-base;
			}
		}
	}
	
}

.product-list{
  margin-top: 20px;

  .product-item{
    height: 280px;

    .pro{
	  margin-bottom: 10px;
	  img{
	  	width: 100%;
	  	// height: 184px;
	    // width: 184px;
	  }
	}
  }
}

.cover-p{
	
  position: relative;
  img{
    width: 100%;
  }

  img:hover{
  	  -moz-box-shadow: 0 0 10px #ccc; 
  	  -webkit-box-shadow: 0 0 10px #ccc; 
  	  box-shadow: 0 0 10px #ccc;
  }
}









