$green-content: #d7e7c0;
$main-color: #60A306;

.p-head{
	border-bottom: solid 3px $main-color;
	margin-bottom: 20px;
	margin-top: -56px;

	.p-box{
		background: $main-color;	
		
		h3{
			color: white;
			// background: $main-color;
		}
	}
}

.p-content{

	text-align: justify;

	.p-des{
		border-bottom: solid 3px $green-content;
		margin-top: 10px; 
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.ppp{
		margin-top: -15px;
		margin-left: 152px;
	}

	.p-detail{
		// margin: 20px 0px 20px 0px;
		// vertical-align: middle;
		// height: 50px;

		img{
			display: inline-table;
			// width: 100%;
		}
	}

	h3{
		color: $main-color;
	}
}

.l-menu{
	ul{
		li{
			a{
				color: black !important;
			}
			a:hover{
				color: gray !important;
			}
		}
	}
}




