// Place all the styles related to the Tip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'var';
@import 'normalize';

.tip-thumb{
  img{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  a{
    img{
      width: 100%;
      padding-top: 10px;
      padding-right: 10px;
    }
  }
}

.modal-dialog {
	width: 400 !important;
	margin: 30px auto;
	img{
		display: block;
	 	width: 80%;
		margin-left: auto;
		margin-right: auto;
    margin-bottom: 30px;
	}

  	.modal-content {
    	border-radius: 0px !important;
  	}
  	.close {
		opacity: 0.8 !important;
	}
  	.glyphicon-remove-sign:before {
		font-size: 1.5em !important;
		color: $green-base !important;
		position: absolute;
		margin: -30px 0px 0px -20px;
	}

  .modal-tip{
    padding: 10px 15px 10px 15px;
    margin: 10px -15px -20px -15px;
    background-color: $green-base;
    color: #fff;
    font-size : 22px !important;
    b{
      font-size : 22px !important;
    }
    h4{
      color: #fff;
    }
    p{
      color: #fff;
      text-align: justify;
    }
    ul ,ol{
      font-size : 22px !important;
      li{
        font-size : 22px !important;
      }
    }
    a{
      color: #fff; 
    }
    blockquote{
      font-size : 22px !important;
    }

  }
}

.modal-footer{
  padding: 15px 15px 15px 35px;
  p{
    margin: 0;
    a{
      color: $green-base;
      font-weight: bolder;
    }
  }
}

// ------------------------------------ Overwrite --------------------------------------



.tip-thumb{

  .label[data-label] {
    padding: initial !important;
    font-size: 24px !important;
    font-weight: bolder !important;
    line-height: 20px !important;
    color: #fff !important;
    text-shadow: initial !important;
    white-space: initial !important;
    vertical-align: middle !important;
    background-color: initial !important;
    border-radius: initial !important;
  }

  .label[data-label].bottom:after {
   bottom: -20%;
  }
  
  .fill{
    height: 50%;
    width: 100%;
    color: $green-base;
  }
  .label[data-label] {
    font-family: 'KittithadaLight45P';
  }
  .label[data-label]:after{
    height: 40%;
    width: 96.5%;
    padding-top: 10%;
    background: rgba(96, 163, 6, 0.75) !important;
  }

  .label[data-label].inside.bottom.float:after {
    margin-bottom: -3px;
  }
}


