$grid-float-breakpoint: 768px;
$portrait: "only screen and (orientation: portrait)";
$row-margin: 24px;
$gridColumns : 12;
$container-desktop : 1440px !important;


//Color
$main-color: #f6f6f6;
$green-base: #60a306;
$black: #fff;
$border-color: #e0d8d0;
$black-font-color: #383838;

//font

@font-face {
  font-family: 'flexslider-icon';
  src:url('flexslider-icon.eot');
  src:url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('flexslider-icon.woff') format('woff'),
    url('flexslider-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KittithadaLight45P';
  font-size: 18px;
  src: url('KittithadaLight45P.eot?') format('eot'), 
       url('KittithadaLight45P.woff') format('woff'), 
       url('KittithadaLight45P.ttf')  format('truetype'),
       url('KittithadaLight45P.svg#KittithadaLight45P') format('svg');
}

body{
	font-family: 'KittithadaLight45P';
	h4{
		font-size: 34px;
	}
	b{
		font-size: 18px;
	}
  ul.intro{
    li{
      font-size: 22px;
    }
  }

  .bs-example{
    font-size: 20px;
  }
}