<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <h5><%= t 'foot.col1.head' %></h5>
        <ul class="foot">
          <li><%= link_to t('menu.st'), story_path %></li>
          <li><%= link_to t('menu.lf'), life_index_path %></li>
          <li><%= link_to t('menu.pn'), planet_index_path %></li>
          <li><%= link_to t('menu.pr'), pride_path %></li>
          <li><%= link_to t('menu.pd'), product_index_path %></li>
          <li><%= link_to t('menu.ev'), event_index_path %></li>
          <li><%= link_to t('menu.tp'), tip_index_path %></li>
          <li><%= link_to t('menu.ct'), contact_path %></li>
        </ul>
      </div>
<!-- glyphicon glyphicon-phone-alt -->
      <div class="col-sm-3">
        <h5><%= t 'foot.col2.head' %></h5>
        <p class="foot"><%= t 'foot.col2.add' %></p>
        <p class="foot"> <span class="glyphicon glyphicon-earphone"> </span>&nbsp;&nbsp;: <%= t 'foot.col2.tel1' %></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t 'foot.col2.tel2' %></p>
        <p class="foot"> <span class="glyphicon glyphicon-print"> </span>&nbsp;&nbsp;: <%= t 'foot.col2.fax' %></p>
        <p class="foot"> <span class="glyphicon glyphicon-envelope"> </span>&nbsp;&nbsp;: info@thaibpe.com</p>
        <p class="foot"><span class="glyphicon glyphicon-globe"> </span>&nbsp;&nbsp;: www.gracz.co.th</p>
      </div>
      <div class="col-sm-3">
        <h5><%= t 'foot.col3.head' %></h5>
        <p class="foot"><%= t 'foot.col3.con' %></br>
          <%= link_to "- #{t('faqs.Q1')}", "/#{I18n.locale}/faqs#faq1", :class => "faq" %><br>
          <%= link_to "- #{t('faqs.Q10')}", "/#{I18n.locale}/faqs#faq10", :class => "faq" %><br>
          <%= link_to "- #{t('faqs.Q6')}", "/#{I18n.locale}/faqs#faq6", :class => "faq" %><br>
          <%= link_to "- #{t('faqs.Q3')}", "/#{I18n.locale}/faqs#faq3", :class => "faq" %>
        </p>

          <button type="button" class="btn btn-gracz" ><%= link_to( t('foot.col3.bt'), faqs_path) %></button>
          <!-- /assets/map_1.jpg -->
        <!-- <h5>MAP</h5>
        <p class="foot">You can download our map for your convenience.</p>
        <p><a class="btn btn-gracz" href="/assets/map_1.jpg" download>DOWNLOAD</a></p> -->
      </div>
      <div class="col-sm-2">
        <h5><%= t 'foot.col4.head' %></h5>
        <%= link_to image_tag("where_to_buy_map.png"), find_us_path %>
        <h5 style="margin-top: 40px;"><%= t 'foot.col5.head' %></h5>
          <%= link_to image_tag("youtube.png"), "http://www.youtube.com/user/graczchannel",:class=>"social" %>
          <%= link_to image_tag("fb.png"), "https://www.facebook.com/gracz.co.th" ,:class=>"social"%>
          <%= link_to image_tag("twitter.png"), "https://twitter.com/gracz_bpe" ,:class=>"social"%>
      </div>
    </div>
  </div>
  <div id="copyright">     
      <div class="container"> 
        <div class="row">
            <div class="col-xs-12" >  
              <p> &copy 2014 GRACZ, INC. ALL RIGHTS RESERVED </p>
            </div>
        </div>
      </div>
    </div>
</div>
























