<div class="navbar navbar-default navbar-static-top" id="header" role="navigation">
      <div class="menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-right: 40px;margin-top: 30px;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo.png"), root_path, :class=>"logo" %></div>
        
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
          	<li><%= link_to t('menu.st'), story_path %></li>
            <li><%= link_to t('menu.pd'), product_index_path %></li>
            <li><%= link_to t('menu.lf'), life_index_path %></li>
            <li><%= link_to t('menu.pn'), planet_index_path %></li>
            <li><%= link_to t('menu.ev'), event_index_path %></li>
            <li><%= link_to t('menu.ct'), contact_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>      
</div>