<div class="row">
	<div class="col-sm-12 col-xs-12 first">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<h4><%= @first.title %></h4>
				</div>
				<div class="item active img-con">
					<%= image_tag @first.cover.content_cover.url, :width => "100%" %>
					<div class="container">
						<div class="carousel-caption carousel-head">
							
							<div class="col-sm-10 hidden-xs">
								<h1><%= link_to @first.title, "#{@first.class.to_s.downcase}/#{@first.id}" %></h1>
							</div>
							<div class="col-sm-2 col-xs-2" style="margin-top: 20px;">
								<%= link_to t('read'), "#{@first.class.to_s.downcase}/#{@first.id}",
								{ :class=>"btn btn-lg btn-success" } %>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row row-content">
	<% @contents.each_with_index do |i| %>
	<div class="col-sm-6 col-xs-12">
		<div class="col-sm-12 show-con no-pad">
			<div class="col-sm-12 col-xs-12 no-pad">
				<h4 style="color: #60a306;"><%= link_to i.title, "#{i.class.to_s.downcase}/#{i.id}" %></h4>
			</div>
			<div class="col-sm-12 no-pad cover">
				<%= link_to image_tag(i.cover_two.cover.url),"#{i.class.to_s.downcase}/#{i.id}" %>
			</div>
			<div class="row-content col-sm-12 no-pad preview">
				<p><%= i.teaser.truncate(200) %></p>
			</div>
		</div>
		<div class="col-sm-12 show-con border-bot no-pad">
			<p style="text-align: right;"><%= link_to t('read'), "#{i.class.to_s.downcase}/#{i.id}" %></p>
		</div>
	</div>
	<% end %>
</div>

<div class="row" id="page">
	<%= paginate @contents %>
</div>





