<nav class="navbar navbar-inverse navbar-button">
  <div class="container">
    <div class="navbar-footer">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Where to find us', find_us_path, class: 'navbar-brand' %>
      <%= link_to 'Our Life', life_index_path, class: 'navbar-brand' %>
      <%= link_to 'Our Planet', planet_index_path, class: 'navbar-brand' %>
      <%= link_to 'Our Pride', pride_path, class: 'navbar-brand' %>
      <%= link_to 'Admin', admin_root_path, class: 'navbar-brand' %>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>