<div class="col-sm-9">
	<div class="row product-list">
		<% @products.each_with_index do |i| %>
		<% if ProductImage.find_by_product_id(i.id) != nil %>
		<div class="col-sm-4 col-xs-6 product-item">
			<div class="col-sm-12 col-xs-12 pro">
				<%= link_to image_tag(ProductImage.find_by_product_id(i.id).image.thumb1.url),product_path(i) %> 
			</div>
			
			<div class="col-sm-12">
				<p class="product-name left"><%= link_to "#{i.name}", product_path(i) %></p>
			</div>

			<div class="col-sm-12 hidden-xs">
				<p class="sub-detail no-underline left"><%= i.description.truncate(20) %></p>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

<!-- class="sub-detail no-underline left" -->