<div class="row" >
	<div class="col-sm-12 col-xs-12">
		<%= image_tag @content.cover.content_cover.url, :width => "100%"%>
	</div>
</div>

<div class="row row-content content">
	<div class="col-sm-12 col-xs-12 content-title">
		<h3><%= @content.title %></h3>
	</div>
</div>

<div class="row row-content content">
	<div class="col-sm-6 col-xs-6"><b><%= @content.created_at %></b></div>
	<div class="col-sm-6 col-xs-6">
	    <div style="float:right;margin-left: 15px;" class="fb-share-button" data-href=<%= request.url %> data-type="button_count"></div>

		<div style="float:right;" id="face" class="fb-like" data-href="https://www.facebook.com/gracz.co.th" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

	</div>
</div>

<div class="row row-content content">
	<div class="col-sm-12 full-content">
		<p>
			<%= @content.content.html_safe %>
		</p>
	</div>
</div>

<div class="row row-content">
	<div class="col-sm-12 tags">
	<% if @content.tags.count != 0 %>
		<p>
			<span class="glyphicon glyphicon-tags"></span> &nbsp; <%= raw @content.tags.map(&:name).map { |t| link_to t, tagged_path(:tag => t) }.join(' , ') %>
		</p>
	<% end %>
	</div>
</div>

<div class="row row-content content">
	<div class="col-sm-12 back" >
		<%= link_to t('back'), "/#{params[:locale]}/#{@content.class.to_s.downcase}" %>
	</div>
</div>