<!DOCTYPE html>
<html>
<head>
  <title>Gracz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no; width=device-width; initial-scale=1.0;" />
  <meta name="google-site-verification" content="A3Ppyy9AZts2dmGGoDZX2RaVB0VWkYRJdiFM9eoOcqk" />
  <%= favicon_link_tag 'Gracz_Logo.png' %>
<%= display_meta_tags :og => {
  :title    => @meta[:title],
  :type     => @meta[:type],
  :url      => @meta[:url],
  :image    => @meta[:image],
  :description => @meta[:description]
} %>

  <!-- <meta property="og:url" content="http://107.170.202.81:9292/">
  <meta property="og:site_name" content="Gracz">
  <meta property="og:title" content="Gracz">
  <meta property="og:description" content="Gracz Lorem">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image" content="http://107.170.202.81:9292/assets/Gracz_Logo_02-0eb55ef7043a917cf6b745d85097c94e.png">     -->

  <meta name="description" content="Gracz Lorem">
  <meta name="keywords" content="บรรจุพันธ์">
  <meta name="author" content="Gracz">
  <meta name="ROBOTS" content="INDEX, NOFOLLOW">
  <meta charset="UTF-8">

</head>

<body>

<div id="header" role="navigation">
  <div id="lang">
    <div class="container">
      <div class="row">

       <div class="col-sm-12">
           <h6 class="pull-right"><%= t('lang') %>
            <span>
              <%= link_to_unless I18n.locale == :en, "EN", :locale=>'en' %>
            </span> |
            <span>
              <%= link_to_unless I18n.locale == :th, "TH", :locale=>'th' %>
            </span>
           </h6>
       </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/header' %>



<!-- Content -->
<div id="content" class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= yield %>
      </div>
    </div>
</div>

<%= render 'layouts/footer' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=226779267530603&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
